.admin-dashboard {
  display: flex;
}

.admin-dashboard__sidebar {
  background-color: white;
  height: 100vh;
  position: fixed;
  border: 1px solid #e0e0e0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  gap: 64px;
}

.sidebar__hamburger-menu img {
  cursor: pointer;
}

.sidebar__mobile-menu__close img {
  cursor: pointer;
}

.admin-dashboard__sidebar__heading {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar__title {
  font-size: 18px;
  background: linear-gradient(55deg, #92bcea 0%, #69b578 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.admin-dashboard__sidebar__navigations {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.admin-dashboard__sidebar__link {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  border: 1px solid #e0e0e0;
  padding: 12px 24px;
}

.admin-dashboard__sidebar__link.active {
  background-color: #f5f5f5;
  border-left: 4px solid #69b578;
}

.admin-dashboard__sidebar__btn-logout {
  border: 1px solid #d31027;
  color: #d31027;
  background: transparent;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  font-weight: 600;
}

.admin-dashboard__sidebar__btn-logout:hover {
  scale: 1.025;
}

.admin-dashboard__content {
  margin-left: 300px;
  margin-right: 128px;
  padding: 16px;
  width: 100%;
}

.sidebar__mobile-menu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  right: 0;
  height: 100vh;
  background: white;
  color: #363636;
  z-index: 1;
  padding: 24px;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

/* Responsive */
/* Tab Layout */
@media (max-width: 1024px) {
  .admin-dashboard {
    flex-direction: column;
  }

  .sidebar__hamburger-menu {
    margin-top: 16px;
    margin-left: 16px;
  }

  .admin-dashboard__content {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Mobile Layout */
@media (max-width: 768px) {
}

/* Mobile Small Layout */
@media (max-width: 425px) {
}
