.admin-welcome__heading {
  margin-top: 64px;
}

.admin-welcome__title {
  font-size: 36px;
  background: linear-gradient(55deg, #92bcea 0%, #69b578 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.admin-welcome__subtitle {
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  margin-bottom: 16px;
}

.admin-welcome__content {
  display: flex;
  gap: 8px;
}

.admin-welcome__content__item {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 48px;
  background: #69b578;
  gap: 8px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
